input#id {
    background-color: var(--moraoOscurin);
    color: var(--moraoClaro);
    border: 1px solid var(--morao);
}

input#nombre {
    background-color: var(--moraoOscurin);
    color: var(--moraoClaro);
    border: 1px solid var(--morao);
}

input#email {
    background-color: var(--moraoOscurin);
    color: var(--moraoClaro);
    border: 1px solid var(--morao);
}

input#direccion {
    background-color: var(--moraoOscurin);
    color: var(--moraoClaro);
    border: 1px solid var(--morao);
}

input#fechaNacimiento {
    background-color: var(--moraoOscurin);
    color: var(--moraoClaro);
    border: 1px solid var(--morao);
}

input#fechaNacimiento::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 0.8;
    cursor: pointer;
}

button#cancelar {
    background-color: var(--moraoOscurin1);
    color: var(--moraoClaro);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

}

button#guardar {
    background-color: var(--moraoClaro);
    color: var(--moraoOscurin1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

}

button#cancelar:hover {
    background-color: var(--moraoOscuro1);
    border: 1px solid var(--moraoOscuro1);
    color: var(--moraoClaro);

}

button#guardar:hover {
    background-color: var(--moraoOscuro1);
    border: 1px solid var(--moraoOscuro1);
    color: var(--moraoClaro);

}