
#personas-list .btn-editar {
    background-color: var(--moraoOscurin1);
    color: var(--morao);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#personas-list .btn-eliminar {
    background-color: var(--moraoClaro1);
    color: var(--morao);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#personas-list .btn-editar:hover, #personas-list .btn-eliminar:hover, button#excel:hover, button#pdf:hover  {
    background-color: var(--moraoOscuro1);
    border: 1px solid var(--moraoOscuro1);
    color: var(--moraoClaro);
}

#atributoBusqueda, #busqueda {
    background-color: var(--moraoOscurin);
    color: var(--moraoClaro);
    border: none;
}

#busqueda::placeholder {
    color: var(--moraoClaro);
}

#atributoBusqueda:hover, #busqueda:hover {
    background-color: var(--moraoOscuro1);
    border: 1px solid var(--moraoOscuro1);
}

#tablita {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#titulos {
    background-color: var(--morao);
    color: var(--moraoClaro);
}

#personas-list {
    background-color: var(--moraoClaro);
}

button#agregar {
    background: none;
    color: var(--moraoClaro1);
}

button#excel {
    background: var(--verde);
    color: var(--moraoOscurin);
}

button#pdf {
    background: var(--rojo);
    color: var(--moraoOscurin);
}

button#agregar:hover {
    background: none;
    color: var(--rosao);
}

#paginacion {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    border: none;
}

#paginacion button {
    background-color: var(--moraoClaro) !important;
    color: var(--moraoOscurin1) !important;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
}

#paginacion .btn-secondary, #paginacion button:hover {
    background-color: var(--moraoOscuro1) !important;
    color: var(--moraoClaro) !important;
    border: none;
}

#paginacion button[disabled] {
    background-color: var(--morao) !important;
    color: var(--moraoClaro) !important;
    border: none;
    font-weight: bold;
    opacity: 1;
}