#oficinas-list .btn-editar {
    background-color: var(--moraoOscurin1);
    color: var(--moraoClaro);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#oficinas-list .btn-eliminar {
    background-color: var(--moraoClaro1);
    color: var(--morao);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#oficinas-list .btn-editar:hover    {
    background-color: var(--moraoOscuro1);
    border: 1px solid var(--moraoOscuro1);
    color: var(--moraoClaro);
}

#oficinas-list .btn-eliminar:hover {
    background-color: var(--moraoOscuro1);
    border: 1px solid var(--moraoOscuro1);
    color: var(--moraoClaro);
}

#tablita {
    width: 100%;
    border: 2px solid;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#titulos {
    background-color: var(--morao);
    color: var(--moraoClaro);
}

#oficinas-list {
    background-color: var(--moraoClaro);
}

button#agregar {
    background: none;
    color: var(--moraoClaro1);
}

button#agregar:hover {
    background: none;
    color: var(--rosao);
}

#paginacion {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    border: none;
}

#paginacion button {
    background-color: var(--moraoClaro) !important;
    color: var(--moraoOscurin1) !important;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    border: none;
}

#paginacion .btn-secondary {
    background-color: var(--moraoOscuro1) !important;
    color: var(--moraoClaro) !important;
    border: none;
}

#paginacion button:hover {
    background-color: var(--moraoOscuro1) !important;
    color: var(--moraoClaro) !important;
}

#paginacion button[disabled] {
    background-color: var(--morao) !important;
    color: var(--moraoClaro) !important;
    border: none;
    font-weight: bold;
    opacity: 1;
}
